.footer {
	background-image: url('../images/footer-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 250px;

	@include mq("568") {
		height: 200px;
	}
}

#footer-container {
	position: relative;
	width: 100vw;
	height: 100%;
	top: 0;
	bottom: 0;
	filter: url(#threshold) blur(0.5px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

#text1,
#text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-size: 80px;
	text-align: center;
	font-weight: 700;
	user-select: none;

	@include mq("568") {
		font-size: 60px;
	}
}