.about {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;

		@include mq("758") {
			flex-direction: column;
		}
	}

	&__content {
		font-weight: 400;
		font-size: 22px;
		line-height: 27px;
		color: $gray;
		max-width: 600px;
		flex: 0 1 60%;

		@include mq("998") {
			font-size: 20px;
		}

		@include mq("568") {
			font-size: 18px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 15px;

				@include mq("568") {
					margin-bottom: 10px;
				}
			}
		}
	}

	&__img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 567px;
		max-width: 435px;
		width: 100%;
		border-radius: 20px;
		flex: 0 1 40%;

		@include mq("998") {
			height: 450px;
		}

		@include mq("758") {
			flex: 0 1 auto;
			height: 567px;
		}

		@include mq("368") {
			height: 435px;
		}
	}
}