body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: $bg;
	color: white;
	min-width: 320px;
	overflow-x: hidden;
}

section {
	padding: 100px 0;

	@include mq("998") {
		padding: 80px 0;
	}

	@include mq("758") {
		padding: 65px 0;
	}

	@include mq("568") {
		padding: 50px 0;
	}

	&:not(:last-child) {
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	}
}

.wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.footer {
	flex-shrink: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	max-width: 160px;
	width: 100%;
	height: 53px;
	object-fit: cover;
}

.title {
	text-align: center;
	margin-bottom: 70px;

	@include mq("998") {
		margin-bottom: 60px;
	}

	@include mq("758") {
		margin-bottom: 50px;
	}

	@include mq("568") {
		margin-bottom: 35px;
	}

	h1,
	h2 {
		font-weight: 900;
		font-size: 32px;
		line-height: 53px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		position: relative;
		display: inline-block;

		@include mq("758") {
			font-size: 28px;
		}

		@include mq("568") {
			font-size: 26px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 8px;
			height: 10px;
			background-color: #585858;
			opacity: .25;
			z-index: -1;
		}
	}

	&--about {
		color: #53d9d1;
	}

	&--portfolio {
		color: #f27b9b;
	}

	&--contacts {
		color: #eb7132;
	}

}

.social {
	display: flex;
	gap: 17px;
	margin-bottom: 20px;

	&__link {
		width: 34px;
		height: 34px;
		background-color: rgba($white, 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;


		&:hover {
			span {
				opacity: 1;
			}
		}

		span {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 16px;
			height: 16px;
			opacity: .5;
			transition: opacity .3s;
		}
	}
}

.up {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	background-color: rgba($white, 0.40);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-in;
	position: fixed;
	bottom: 35px;
	right: 35px;
	display: none;
	z-index: 30;

	@include mq("998") {
		width: 50px;
		height: 50px;
	}

	@include mq("768") {
		bottom: 30px;
		right: 30px;
	}

	@include mq("568") {
		bottom: 15px;
		right: 15px;
	}

	&--active {
		display: flex;
	}

	&:hover {
		background-color: #53d9d1;

		&::before {
			filter: invert(60%) sepia(81%) saturate(3899%) hue-rotate(334deg) brightness(100%) contrast(73%);
		}
	}

	&::before {
		@include pseudo;
		background-image: url('../images/icons/up-down-btn.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: rotate(-180deg);
		width: 25px;
		height: 15px;
		position: absolute;
		filter: invert(86%) sepia(17%) saturate(515%) hue-rotate(42deg) brightness(103%) contrast(85%);
	}
}